<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
	<title>Donation Form</title>
</head>
<body ng-app="Donation" ng-controller="Controller">
<h1>Donation Form</h1>
<form class="form-horizontal" ng-submit="create()">

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="fn">First name</label>  
  <div class="col-md-4">
 <input id="fn" name="fn" type="text" placeholder="first name" class="form-control input-md" ng-model="donation.firstName">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group" >
  <label class="col-md-4 control-label" for="ln">Last name</label>  
  <div class="col-md-4">
  <input id="ln" name="ln" type="text" placeholder="last name" class="form-control input-md" ng-model="donation.lastName">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group" >
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" ng-model="donation.email">
    
  </div>
</div>
<div class="form-group" >
  <label class="col-md-4 control-label" >Donation amount</label>  
  <div class="col-md-4">
  <input class="form-control input-md">
  </div>
</div>
<div class="form-group" >
  <label class="col-md-4 control-label" > Message </label>  
  <div class="col-md-4">
  <input  class="form-control input-md">
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="fn"></label>  
  <div class="col-md-4">
  <div class="form-group">
  <div class="col-sm-9 col-sm-offset-3">
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </div>
</div>
</form>
 <form form action='/api/charge' method="POST" >
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_b63OPVxQncBHRF5uM35IVx4S">
  </script>
</form>
    
  </div>
</div>



<h1>show Donations</h1>
<div >
  there are  {{ donations.length }} donations
<ul>
<li ng-repeat="donation in donations">balance_transaction: {{donation.balance_transaction}}</li>
</ul>
<form ng-submit="show()">
<button type="submit">show</button>
  
</form>
</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="controller.js"></script>
</body>
</html>